.magic-title {
  background-image: linear-gradient(270deg, #cb5eee, #0cd7e4);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  cursor: pointer;
}

.clip-me {
  clip-path: polygon(75% 0%, 95% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.kanban-bg {
  background: rgb(203, 94, 238);
  background: linear-gradient(
    23deg,
    rgba(203, 94, 238, 0.7262255243894433) 0%,
    rgba(0, 212, 255, 0.6057773451177346) 100%
  );
}

.MuiListItemText-primary {
  font-size: 1.3rem;
}
